body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.active {
  background-color: #FFDC00;
  color: #001F3F;
}

#app {
  width:90%;
  left: 0;
  right: 0;
  position:absolute;
  margin: 0 auto;
  margin-top: 100px;
}

.header {
  background-color: #001F3F;
  position: fixed;
  color:white;
  text-transform: uppercase;
  width: 100%;
  height: 80px;
  z-index: 999;
}

.hamburger {
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:45px;
  padding:0px 0 0px 15px;
  color:#FFDC00;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  list-style: none;
}

.filter li {
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 100px;
  padding-right: 100px;
}

.filter li:hover {
  background-color: #FFDC00; 
  color: #001F3F;
  cursor: pointer;
}

#posts {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.post {
  margin: 15px;
  padding: 10px;
  border: solid 1px rgba(0,0,0,0.1);
}

.content {
  padding: 10px;
}

.text {
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;
}

.manual-link {
  font-size: 14px;
}

.twitter-post .username {
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: strong;
  color: charcoal;
}

.tweet {
  font-size: 16px;
  color: grey;
  text-align: center;
  margin-bottom: 6px;
}

.instagram-post {
  text-align: center;
  font-size: 14px;
  color: grey;
}

.badge{
    position: relative;
    display: inline-block;
    top: -20px;
    float:left;
    background:black;
    border-radius: 4px;
    text-align: center;
    color:white;
    padding:10px 10px;
}

@media screen and (max-width: 849px) {
  .header {
    height: 44px;
  }
  .filter{
    display:none;
    margin-top: 1px;
  }

  .filter li {
    background-color: #001F3F;
    height: 22px;
    padding:10px;
  }

  li.active  {
    background-color: #FFDC00;
    color: #001F3F;

  }
}

#load-more {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#load-link {
  color: #001F3F;
}

@media screen and (min-width: 601px){
  .post {
    max-width: 41%;
  }
}

@media screen and (max-width: 600px) {
  .post {
    width: 100%
  }
}

@media screen and (min-width: 850px){
  .post {
    max-width: 25%;
  }

  .hamburger {
    display: none;
  }
}

