img {
  max-width: 100%;
}

#app {
  width:90%;
  margin: 0 auto;
  padding-top: 1rem;
}

.logo {
  background-color: black;
  color:white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-transform: uppercase;
  width: 100%;
  text-align:center;
}

#posts {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.post {
  margin: 5px;
  padding: 10px;
  border: solid 1px grey;
}

@media screen and (min-width: 850px){
  .post {
    max-width: 25%;
  }
}

@media screen and (min-width: 601px) and (max-width: 849px){
  .post {
    max-width: 41%;
  }
}

@media screen and (max-width: 600px) {
  .post {
    width: 100%
  }
}

