body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
}

#app {
  width:90%;
  left: 0;
  right: 0;
  position:absolute;
  margin: 0 auto;
  margin-top: 100px;
  
}

.header {
  background-color: black;
  position: fixed;
  color:white;
  text-transform: uppercase;
  width: 100%;
  height: 80px;
  z-index: 999;
}

.logo {
  display:inline-block;
  float: left;
  padding-left: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  list-style: none;
}

.filter li {
  
}

#posts {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.post {
  margin: 5px;
  padding: 10px;
  border: solid 1px rgba(0,0,0,0.1);
}

.content {
  padding: 10px;
}

.text {
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;
}

.manual-link {
  font-size: 14px;
}

.twitter-post .username {
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: strong;
  color: charcoal;
}

.tweet {
  font-size: 16px;
  color: grey;
  text-align: center;
  margin-bottom: 6px;
}

@media screen and (min-width: 850px){
  .post {
    max-width: 25%;
  }
}

@media screen and (min-width: 601px) and (max-width: 849px){
  .post {
    max-width: 41%;
  }
}

@media screen and (max-width: 600px) {
  .post {
    width: 100%
  }
}

